<div class="cards-container"  *ngFor="let e of events.table; let i=index">
    <div class="designer-role card">
        <div class="card-text" >
            <p>{{events.table[i].walkin_name}}</p>
        </div>
        <div class="date-time">
            <p>Date & Time:</p>
            <span class="date">{{events.table1[i].date}}</span>
            <span class="separator">|</span>
            <span class="location"><img src="../../assets/icons/Location icon.svg" alt="location-icon">
                {{events.table2[i].walkin_city}}
            </span>
        </div>
        
        <hr>
        <div class="job-roles">
            <p>Job Roles:</p>
            <div class="flexbox">
                <ng-container *ngFor="let p of events.table3; let q=index">
                    <div  class="roles" *ngIf="events.table3[q].walkin_id==i+1">
                            <div class="job-role-img" ><img src="{{events.table3[q].role_img_src}}" alt=""></div>
                            <div class="job-role-text" >{{events.table3[q].role_name}}</div>
                            <span class="separator">|</span>
                        
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="button-detail" ><button [hidden]="event_id==events.table[i].walkin_id" (click)="event(events.table[i].walkin_id)">VIEW MORE DETAILS</button></div>
        <!-- <div class="pre-requisite" *ngIf="e.id==event_id">
            <p>Pre-requisites & Application Process
                <img (click)="showRequisite(e.id)" class="expand-svg1" src="../../assets/icons_new/expand_more_black_24dp.svg" alt="">
            </p>
        </div> -->
        <div *ngIf="event_id==events.table[i].walkin_id">
            <app-pre-requisite [event_id]="event_id"></app-pre-requisite>
        </div>
    </div>    
    <div class="card time-slot-preference" *ngIf="event_id==events.table[i].walkin_id">
        <p class="title">Time Slots & Preferences</p>
        <div class="time-slot">
            <p>Select a Time Slot:</p>
            <div  *ngFor="let p of events.table4; let q=index">
                <div *ngIf="events.table4[q].walkin_id==i+1">
                    <label class="radio"><input type="radio">{{events.table4[q].slot_start_time}} to {{events.table4[q].slot_end_time}}</label>
                </div>
            </div>
            <!-- <label class="radio"><input type="radio">1:00 PM to 3:00 PM</label> -->
        </div> 
        <hr>
        <div class="space-element"></div>
        <div class="preference">
            <p>Select Your Preference :</p>
            <div *ngFor="let p of events.table3; let q=index">
                <div *ngIf="events.table3[q].walkin_id==i+1">
                    <label class="checkbox"><input type="checkbox">{{events.table3[q].role_name}}</label>
                </div>
            </div>
            <!-- <label class="checkbox"><input type="checkbox">Software Engineer</label>
            <label class="checkbox"><input type="checkbox">Software Quality Engineer</label> -->
        </div>
        <hr>
        <div class="resume">
            <img src="../../assets/icons_new/Upload_black_24dp.svg" alt=""><p>UPLOAD UPDATED RESUME</p>
        </div>
    </div>
    <div *ngIf="event_id==events.table[i].walkin_id" >
        <app-role [roleId]="event_id"></app-role>
    </div>
</div>

<!-- *ngIf="e.id==event_id" -->