<div class="card">
    <div class="success-icon">

    </div>
    <p class="title">Congratulations ! You have successfully applied for the walk-in opportunity</p>
    <hr>
    <div class="walkin-info">
        <p>Date & Time of Walk-In :</p>
        <p class="date">03rd July 2021</p>
        <p class="time">9:00 AM to 11:00 AM</p>
    </div>
    <div class="space-element"></div>
    <hr>
    
    <div class="venue">
        <p>Venue of Walk-In :</p>
        <p>
            Zeus Systems Pvt. Ltd. 
        <br>
            1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg 
        <br>
            Lower Parel (W) 
        <br>
            Mumbai - 400 013 
        <br>
            Phone: +91-22-66600000
        </p>
    </div>
    <div class="space-element"></div>
    <hr>
    <div class="things-to-remember">
        <p>THINGS TO REMEMBER :</p>
        <p>
            - Please report 30 MINUTES prior to your reporting time. 
        <br>
            - Download your Hall Ticket from below and carry it with you during your Walk-In.
        </p>
    </div>
    <div class="space-element"></div>
    <hr>
    <div class="button">
        <button class="hall-ticket-btn">DOWNLOAD HALL TICKET</button>
    </div>
</div>
